@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-text-base: black;
    --color-text-light: #fff;
    --color-text-muted: #c7d2fe;
    --color-fill-default: #017eff;
  }
  body {
    @apply bg-gray-100 text-['#000'];
  }
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.last\:mr-0:last-child {
  margin-right: 0px;
}